# New CR format configuration
features:
  openAgent:
    enabled: true
    targets:
    - targetName: metric-exporter
      type: StaticEndpoints
      enabled: true
      endpoints:
        - address: "localhost:9529"
          path: "/metrics"
          scheme: "http"
          interval: "30s"
          timeout: "10s"  # HTTP request timeout (default: 10s, can be increased for slow endpoints)
          metricRelabelConfigs:
            - source_labels: [ __name__ ]
              regex: ".*"
              action: keep

#      - targetName: mock-azure-sql
#        type: StaticEndpoints
#        enabled: true
#        endpoints:
#          - address: "0.0.0.0:8083"
#            path: "/probe/metrics/resource"
#            scheme: "http"
#            interval: "5s"
#            params:
#              subscription: ["50d91b57-a280-45b5-8d7c-be8005662738"]
#              target: ["/subscriptions/50d91b57-a280-45b5-8d7c-be8005662738/resourceGroups/WhaTap-Data-KR-MID/providers/Microsoft.Sql/managedInstances/openmetrics-instance-01"]
#              metric: ["avg_cpu_percent,virtual_core_count,memory_usage_percent,network_bytes_total,network_in,network_out,disk_read_ops,disk_write_ops,storage_used_percent"]  # 모든 메트릭 타입 포함
#              interval: ["PT1M"]
#              aggregation: ["average"]
#            metricRelabelConfigs:
#              - source_labels: [ __name__ ]
#                regex: ".*"
#                action: keep
#      - targetName: minikube-apiserver
#        type: ServiceMonitor
#        namespaceSelector:
#          matchNames:
#            - "default"
#        selector:
#          matchLabels:
#            component: apiserver
#            provider: kubernetes
#        endpoints:
#          - port: "https"  # 포트 이름이 "https"이므로 기본적으로 HTTPS 사용
#            path: "/metrics"
#            interval: "30s"
#            scheme: "https"  # 명시적으로 HTTPS 지정 (선택사항)
#            tlsConfig:
#              insecureSkipVerify: false  # 인증서 검증 건너뛰기
#      - targetName: kube-proxy
#        type: StaticEndpoints
#        # Target is enabled by default (enabled: true), this can be omitted
#        enabled: true
#        endpoints:
#          - address: "127.0.0.1:8001"
#            path: "/metrics"
#            scheme: "http"
#            interval: "30s"
#            metricRelabelConfigs:
#              - source_labels: [ __name__ ]
#                regex: "apiserver_request_total"
#                action: keep
#              - source_labels: [ verb ]
#                target_label: http_verb
#                replacement: "${1}"
#                action: replace
